<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

  <display-name>ArchiveAggregator</display-name>

  <!-- Main Error Handler for all unhandled exceptions -->
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.loicortola.training.archiveaggregator.webapp.exception.handler.GlobalExceptionHandler</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <error-page>
    <location>/error</location>
  </error-page>

  <!-- SpringMVC Servlet -->
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
        org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
        com.loicortola.training.archiveaggregator.webapp.ArchiveAggregatorWebConfig
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- Map API -->
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <!-- Encoding Filter to force UTF-8 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 
      CORS filter for DispatcherServlet
      DelegatingFilterProxy will look for bean named the same as the value in filter-name
    -->
  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>com.loicortola.training.archiveaggregator.webapp.filter.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>corsFilter</filter-name>
    <servlet-name>spring</servlet-name>
  </filter-mapping>
  
</web-app>
